<h2>Ошибка оплаты</h2>


<h4>Извините, в данный момент мы не можем продать вам товар по причине того, что автомат не может
выдать вам нужную сдачу.</h4>

<a asp-controller="Catalog" asp-action="Index" class="btn btn-primary">Каталог напитков</a>
